:root {
	--bg-color: #161616;
	--font-color: #fff;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: var(--font-color);
	background: var(--bg-color);
	overflow: hidden;
}

h1 {
	position: absolute;
	font-family: 'Monument Extended';
	font-weight: lighter;
	font-size: 64px;
}

.block {
	position: relative;
	width: 580px;
	height: 460px;
	margin: 10px 300px 20px 80px;
}
.block-1 {
	background: url('../assets/img/glitched.jpg') no-repeat 50% 50%;
	background-size: cover;
}
.block-2 {
	background: url('../assets/img/plot\ twist.jpg') no-repeat 50% 50%;
	background-size: cover;
}
.block-3 {
	background: url('../assets/img/interference.jpg') no-repeat 50% 50%;
	background-size: cover;
}
.block-4 {
	background: url('../assets/img/artifacts.jpg') no-repeat 50% 50%;
	background-size: cover;
}
.block-5 {
	background: url('../assets/img/paper.jpg') no-repeat 50% 50%;
	background-size: cover;
}

.block__container {
	margin-top: 110px;
	margin-left: 200px;
}

.block-1 h1,
.block-3 h1,
.block-5 h1 {
	bottom: 0;
	right: -60px;
}
.block-2 h1,
.block-4 h1 {
	right: -60px;
}
